= simple_form_for(@user, html: { class: 'form-horizontal'}) do |f|
	= f.input :name, label: "Name"
	= f.input :surname, label: "Surname"
	= f.input :position, label: "Position/Job Title"
	= f.input :email, label: "Email"
	%br/
	= f.button :submit