#users
	.user
		%h2= @user.name
		%p= @user.surname
		%p= @user.position
		%p= @user.email
		
#links
	= link_to "Back", root_path, class: "btn btn-sm btn-default"
	= link_to "Edit", edit_user_path(@user), class: "btn btn-sm btn-default"
	= link_to "Delete", user_path(@user), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-default"