= simple_form_for(@project, html: { class: 'form-horizontal'}) do |f|
	= f.input :title, label: "Project Title"
	= f.input :client, label: "Client Company"
	= f.input :executor, label: "Executor Company"
	= f.input :manager, label: "Project Manager"
	= f.input :start_date, label: "Start Date"
	= f.input :end_date, label: "End Date"
	= f.input :priority, label: "Priority", collection: 0..10
	%br/
	= f.button :submit