#projects
	%h2= @project.title
	%p= @project.client
	%p= @project.executor
	%p= @project.manager
	%p= @project.start_date
	%p= @project.end_date
	%p= @project.priority
	
#links
	= link_to "Back", root_path, class: "btn btn-sm btn-default"
	= link_to "Edit", edit_project_path(@project), class: "btn btn-sm btn-default"
	= link_to "Delete", project_path(@project), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-default"

