!!!
%html
%head
	%title Ruby on Rails Jobs
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags

%body
	%nav.navbar.navbar-default
		.container
			.navbar-brand Project Board
			%ul.nav.navbar-nav
				%li= link_to "All Projects", root_path
				%li= link_to "All Users", users_path
			
					
			= link_to "New Project", new_project_path, class: "navbar-text navbar-right navbar-link"
			= link_to "New User", new_user_path, class: "navbar-text navbar-right navbar-link"
	.container
		.col-md-6.col-md-offset-3
			= yield